.navbar{
    background: #fff!important;
}
.animate-hero {
    animation: MoveUpDown 1s linear infinite;
    position: relative;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      top: 10px;
    }
    50% {
      top: 20px;
    }
  }